/*ESTILOS GLOBALES*/
@media all {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .screen {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle, rgba(0, 19, 255, 1) 0%, rgba(0, 15, 46, 1) 100%);
    }

    h2 {
        color: aliceblue;
    }
}

/*PANTALLA 0: MODAL*/
@media all {
    /* .contenedorModal {
        width: 100vw;
        height: 100vh;
    } */

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        /* Oscurece el fondo */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        width: 70%;
        background: #e1e1e1;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));

    }

    .modal-content h2 {
        margin: 10px;
        color: #000069;
    }

    .modal-content p {
        font-size: 80%;
    }

    .lang-button {
        margin: 10px;
        padding: 5px 8px;
        background-color: #000069;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .lang-button:hover {
        background-color: #0056b3;
    }

    /* .site-content {
        display: none;
        width: 100vw;
        height: auto;
    } */

    .site-content {
        filter: blur(5px);
        /* Aplica el desenfoque al contenido visible */
        transition: filter 0.3s ease, opacity 0.3s ease;
    }

    .site-content.active {
        width: 100vw;
        height: auto;
        filter: none;
        /* Quita el desenfoque */
        opacity: 1;
        /* Restaura la visibilidad */
    }

    .englishCopy {
        font-style: italic;
        color: #5e5e5e;
    }

    .contenedorLogoModal {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;

    }

    .logoImgModal {
        width: 10%;
        margin: 0;
        left: 50%;
    }

    .hi {
        font-style: italic;
    }

}

/*PANTALLA 1: INICIO----------------------------------------------------------------*/
@media all {
    .screen0 {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: radial-gradient(circle, rgba(0, 19, 255, 1) 0%, rgba(0, 15, 46, 1) 100%);
        border-bottom: solid 1px aliceblue;
    }

    .marquee {
        width: 100%;
        overflow: hidden;
        /* Oculta el contenido que se sale del área visible */
        position: relative;
        background-color: rgba(255, 217, 0, 0.816);
        padding: 3px;

        span {
            font-size: 90%;
        }
    }

    .marquee-track {
        display: flex;
        width: max-content;
        /* Esto hace que la pista crezca según el contenido */
        animation: scroll 45s linear infinite;
        /* Desplazamiento continuo */
    }

    .marquee-track span {
        white-space: nowrap;
        /* Evita que el texto se rompa */
        margin-right: 20px;
        /* Espaciado entre elementos */
    }

    .off {
        font-weight: 700;
    }

    /* Animación para mover el contenido */
    @keyframes scroll {
        0% {
            transform: translateX(0);
            /* Empieza desde la izquierda */
        }

        100% {
            transform: translateX(-100%);
            /* Mueve todo el contenido fuera de vista */
        }
    }

    .logo {
        width: 100%;
        height: 8%;
    }

    .logoImg {
        margin-top: 15px;
        width: 10%;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) grayscale(100%) sepia(100%) hue-rotate(180deg);
    }

    .oval-background {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        width: 600px;
        height: 600px;
        background-color: rgb(0, 5, 59);
        border-radius: 50%;
        transform: translate(-50%, 5%);
    }

    .tituloPrincipal {
        width: 100%;
        height: 28%;
        font-size: 140%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;

        .edito {
            margin-bottom: -20px;
            font-weight: 500;
            font-size: 190%;
        }

        .todo {
            margin: 0 0 -20px 0;
            font-weight: 700;
            font-size: 190%;
            filter: drop-shadow(0 0 2px rgba(255, 242, 0, 0.8)) grayscale(100%) sepia(100%) hue-rotate(180deg);
        }

        .tucontenido {
            font-weight: 500;
            font-size: 160%;
        }
    }

    .img-container {
        margin: 0 auto;
        position: relative;
        width: 82%;
        height: 100%;
        border-radius: 10px;
        overflow: visible;
        display: flex;
        justify-content: center;
        video{
            width: 90%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));

        }
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
        
    }

    /* .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        mask-image: url('/Proyecto nuevo.png');
        mask-size: cover;
        mask-repeat: no-repeat;
    } */

    .btnComenzar {
        border: none;
        z-index: 3;
        padding: 10px 30px;
        font-size: 150%;
        border-radius: 40px;
        background-color: gold;
        color: rgb(0, 19, 101);
        position: absolute;
        font-weight: 600;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    }
}

/*PANTALLA 1BIS: COPY VENDEDOR----------------------------------------------------------------*/
@media all {
    .copyVendedor {
        width: 80%;
        color: aliceblue;
        text-align: center;

        .h4copy {
            color: gold;
            font-weight: 600;
            font-size: 130%;
            margin-top: -5px;

        }

        h5 {
            color: #0000ce;
            border-radius: 5px;
            padding: 1px 0px 1px 0px;
            background-color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 70px;
            filter: drop-shadow(0 0 10px rgb(255, 221, 0));

        }

        .h4titulo {
            font-weight: 400;
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));

        }
    }
}

/*PANTALLA 2: QUIEN SOY----------------------------------------------------------------*/
@media all {
    .quienSoy {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000e8d;
        /* border: solid 2px rgb(0, 0, 81); */
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 10px;
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));

    }

    .imgFlecha {
        width: 17%;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
        margin: -20px auto;
        opacity: 50%;
    }

    .quienSoy h2 {
        font-size: 6vw;
        font-weight: 200;
        color: aliceblue;
        margin: 0;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));

    }

    .quienSoy .soyJose {
        font-size: 250%;
        font-weight: 500;
        margin: 0;
    }

    .quienSoy h3 {
        font-size: 5vw;
        font-weight: 600;
        color: #000083;
        background-color: rgba(255, 217, 0, 0.874);
        margin: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));

    }

    .quienSoy p {
        font-weight: 500;
        font-size: 85%;
        color: aliceblue;
        line-height: 1.6;
        text-align: center;
        width: 80%;
        margin: 25px;
    }

    #teCuento {
        color: aliceblue;
        padding: 15px;
    }

    .tecuentoContainer {
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .convertir {
        font-weight: 600;
        color: gold;

    }
}

/*PANTALLA 3: MI PROCESO DE TRABAJO----------------------------------------------------------------*/
@media all {
    #section3 {
        h2 {
            color: aliceblue;
            margin-bottom: 40px;
        }

        h3 {
            margin: 0 auto;
            font-size: 104%;
        }

        p {
            color: #9c2bfe;
            font-size: 80%;
        }

        img {
            width: 20px;
            /* Tamaño reducido */
            margin-bottom: 8px;
            filter: drop-shadow(0 0 11px #c485fc);
        }
    }

    .miProceso {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        /* Espaciado uniforme */
        width: 80%;
    }

    .proceso {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 130px;
        /* Tamaño reducido */
        height: 120px;
        background-color: rgb(0, 1, 56);
        border-radius: 10px;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }

    .columns {
        display: flex;
        gap: 16px;
        /* Espaciado uniforme entre columnas */
        width: 100%;
        justify-content: center;
    }

    .colUno {
        display: flex;
        flex-direction: column;
        gap: 16px;
        /* Espaciado uniforme entre los cuadros */
    }

    .procesoCol {
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 130px;
        /* Tamaño reducido */
        height: 120px;
        background-color: rgb(0, 1, 56);
        border-radius: 10px;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }

    #fase5 {
        border: solid 2px rgb(255, 221, 0, 0.6);
    }

    #entrega {
        color: gold;
    }

    #fase1 {
        border: solid 2px #9C2DFE;
    }

    #reunion {
        color: #c787ff;
    }
}

/*PANTALLA 4: CONTRATA EN 3 PASOS----------------------------------------------------------------*/
@media all {
    .screen2 h2 {
        color: aliceblue;
    }

    .tresPasos {
        margin-top: 40px;
        width: 75%;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }

    .paso {
        position: relative;
        width: 100%;
        height: auto;
        /* Dejamos que la altura dependa del contenido */
        margin: 15px 0;
        border-radius: 40px;
        border: solid 2px rgb(170, 145, 0);
        background-color: rgb(24, 0, 84);
        display: flex;
        justify-content: center;
        /* Centrado horizontal */
        align-items: center;
        /* Centrado vertical */
        padding: 20px;
        /* Añade espacio interno si es necesario */
        text-align: center;
        /* Centrar el texto */
        box-sizing: border-box;
        /* Incluye bordes en el cálculo del tamaño */
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }


    .paso h3 {
        font-weight: 500;
        font-size: 90%;
        margin: 0;
        /* Elimina márgenes externos */
        padding: 0;
        /* Elimina relleno interno */
        text-align: center;
        /* Centra el texto horizontalmente */
    }



    .tresTituloPasos {
        color: gold;
        text-decoration: underline;
    }

    .numeroPaso {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(232, 197, 1);
        color: rgb(250, 240, 255);
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    .accionPaso {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
    }
}

/*PANTALLA 5,6,7: TARJETAS NUEVAS----------------------------------------------------------*/
@media all {
    #main-section {
        width: 100%;
        height: auto;

        h2 {
            margin-top: 40px;
        }
    }

    .contenedorSubtitulo {
        width: 100%;
    }

    .accordion-container {
        width: 80%;
        margin: auto;

        h6 {
            background-color: rgb(255, 213, 0);
            padding: 5px;
            text-align: center;
        }

        h3 {
            margin: 0 auto;
        }

        p {
            font-size: 75%;
        }

        h4 {
            color: #5f5f5f;
        }
    }

    .accordion-card {
        background-color: aqua;
        border: 1px solid #dddddd;
        border-radius: 10px;
        margin: 60px 0px;
        overflow: hidden;
        width: 100%;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }

    .tituloyBtn {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .accordion-card-header {
        background-color: #003ec3;
        padding: 20px 25px 0px 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

    #acordionCardHeader1 {
        width: 100%;
        display: flex;
    }

    .videoYbtn {
        position: relative;
        width: 100%;
        height: 100%;
    }

    #videoYbtn1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    iframe {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: auto;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 1;
        pointer-events: none;
    }

    .accordion-card-header.active {
        background-color: #003ec3;
        color: #fff;
    }

    .accordion-card-content {
        max-height: 0;
        height: auto;
        overflow: hidden;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(172, 172, 172, 1) 100%);
        transition: max-height 0.3s ease, padding 0.3s ease;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    .accordion-card-content.show {
        max-height: 500px;
        padding: 15px;
    }

    .accordion-list {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        padding: 0;
    }

    .contenedorBtn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .accordion-toggle-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding: 8px;
        border: none;
        border-radius: 20px;
        background-color: #003FC3;
        color: aliceblue;
        cursor: pointer;
        text-align: center;
        font-weight: 500;
    }

    .accordion-action-btn {
        width: 70%;
        margin-bottom: 20px;
        padding: 8px;
        border: none;
        border-radius: 10px;
        background-color: #003FC3;
        color: aliceblue;
        text-align: center;
    }


    .accordion-card-header,
    video,
    .accordion-toggle-btn {
        box-sizing: border-box;
        /* Asegura que los bordes y padding no afecten dimensiones */
    }

    .video1 {
        margin: 0 auto;
        width: 40%;
        height: auto;
        object-fit: contain;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

}

/*PANTALLA 1BIS: COPY VENDEDOR----------------------------------------------------------------*/
@media all {
    .copyVendedor2 {
        width: 80%;
        color: aliceblue;
        text-align: center;

        h3 {
            color: gold;
            font-size: 150%;
        }

        h4 {
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
            font-weight: 500;

        }

        .h4subrayado {
            /* text-decoration: underline;
            text-decoration-color: #a947ff;
            text-decoration-thickness: 3px; */
            font-weight: 600;
            filter: none;
            font-size: 130%;
            margin-top: -4px;
            color: #9823ff;
        }

        h5 {
            color: #9c2bfe;
        }

    }
}

/*PANTALLA 8: PACKS PLANES----------------------------------------------------------------*/
@media all {
    .planes {
        width: 70%;
        height: 63%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        #plan1 {
            background-color: blue;
        }

        #plan2 {
            background-color: rgb(24, 19, 87);
        }

        #plan3 {
            background-color: rgb(56, 56, 104);
        }
    }

    .plan {
        margin: 10px;
        background-color: #6c00ca;
        border: solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));

        p {
            font-weight: 400;
            font-size: 60%;
            margin: 0 auto;
            color: aliceblue;
        }

        h3 {
            margin: -7px;
            font-size: 120%;
            color: aliceblue;
        }

        #x {
            font-size: 160%;
        }

        #m {
            font-size: 100%;
            padding-top: 3px;
        }

        button {
            padding: 5px 40px;
            border-radius: 20px;
            border: none;
            margin-top: 5px;
        }

        .subtitulo {
            font-weight: 700;
            margin: 0;
            font-size: 100%;
            color: aliceblue;
        }
    }

    .xCantidad {
        width: 35%;
        height: 100%;
        border-right: solid 1px aliceblue;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .descripcionPlan {
        width: 65%;
    }

    .otrosPlanes {
        color: aliceblue;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 25px 0 0 0;

        h3 {
            font-weight: 400;
            margin: 0;
            font-size: 80%;
        }
    }
}

/*PANTALLA 9: RESENAS----------------------------------------------------------------*/
@media all {
    .screen8 {
        display: flex;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(circle, rgba(0, 19, 255, 1) 0%, rgba(0, 15, 46, 1) 100%);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: aliceblue;
        }
    }

    .puntaje {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        width: 50%;

        h2 {
            font-size: 300%;
            font-weight: 600;
            color: aliceblue;
            margin: 0;
            padding: 0;
            filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));

        }

        img {
            width: 40%;
            margin: 0;
        }

        h3 {
            font-weight: 500;
            margin: 0;
            font-size: 80%;
            color: aliceblue;
        }
    }

    .resenasContainer {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .carrusel-container {
        width: 100%;
        max-width: 600px;
        overflow: hidden;
    }

    .carrusel {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .reseña {
        flex: 0 0 60%;
        margin: 20% 20%;
        box-sizing: border-box;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 10px;
        font-size: 1.2em;
        color: #333;
        padding: 10px;
        filter: drop-shadow(0 0 20px rgb(144, 0, 255));
    }

    .reseña:last-child {
        margin-right: 0;
    }

    .nombrePuntaje {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #818181;

        h4 {
            font-weight: 400;

        }

        img {
            width: 25%;
            margin: 5px;
        }
    }

    .grupoNombre {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #818181;

        h4 {
            font-size: 70%;
            color: #818181;

        }
    }

    .descripcion {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            font-size: 70%;
            font-weight: 700;
            margin: 10px;
            color: #2b2b2b;
        }
    }

    .fecha {
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h6 {
            font-weight: 400;
            font-size: 50%;
            color: #818181;

        }
    }

    /*CARRUSEL LOGOS*/
    .carousel-container {
        margin: 30px;
        overflow: hidden;
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        position: relative;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));

    }

    .carousel-track {
        display: flex;
        gap: 30px;
        white-space: nowrap;
        transform: translateX(0);
    }

    .carousel-track img {
        height: 50px;
        object-fit: contain;
        margin: 0;
    }
}

/*PANTALLA 10: FAQS----------------------------------------------------------------*/
@media all {
    .faqs {
        width: 80%;
        height: 70% auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .faqsTitulo {
        margin-bottom: 40px;
    }

    /* Estilos generales del acordeón */
    .accordion {
        width: 100%;
        width: 100%;
        margin: auto;
    }

    /* Estilos de cada pregunta del acordeón */
    .accordion-item {
        border: 1px solid #ddd;
        margin-bottom: 8px;
        border-radius: 10px;
        overflow: hidden;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));

    }

    /* Estilos de la cabecera de cada pregunta */
    .accordion-header {
        background-color: #f5f5f5;
        padding: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background-color 0.3s;
        font-size: 90%;
        font-weight: 600;
    }

    /* Estilo para la pregunta abierta */
    .accordion-header.active {
        background-color: #6c00ca;
        color: #fff;
    }

    /* Icono de flecha */
    .accordion-header .arrow {
        font-size: 1.2em;
        transition: transform 0.3s;
    }

    /* Rotar la flecha cuando se abre */
    .accordion-header.active .arrow {
        transform: rotate(90deg);
    }

    /* Contenido de la respuesta */
    .accordion-content {
        padding: 15px;
        display: none;
        background-color: aliceblue;
        font-size: 80%;
    }

    .linksAcordion {
        text-decoration: underline;
        font-weight: 600;
    }

    .respuestaNegrita {
        font-weight: 600;
    }
}

/*PANTALLA 11: FORMULARIO----------------------------------------------------------------*/
@media all {
    .screen5 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle, rgba(0, 19, 255, 1) 0%, rgba(0, 15, 46, 1) 100%);

        h2 {
            color: aliceblue;
            margin-bottom: 0 auto;
        }
    }

    .formSubtitulo {
        font-weight: 300;
    }

    .form {
        width: 75%;
        padding: 20px;
        background-color: #007bff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        color: aliceblue;
        margin-top: 40px;
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.5));

    }

    .label {
        font-weight: normal;
    }

    .campo {
        width: 100%;
        padding: 10px;
        border: none;
        margin: 5px 0;
        border-radius: 10px;
        font-size: 90%;
    }

    textarea.campo {
        height: 100px;
        resize: vertical;
        font-size: 90%;
    }

    .checkbox-container {
        color: white;
        width: 100%;
        border: none;
        margin: 5px;
        display: flex;
        align-items: center;
    }

    .checkbox-container input[type="checkbox"] {
        transform: scale(2);
        /* Ajusta el tamaño del checkbox */
    }

    .checkbox-label {
        font-size: 14px;
        margin-left: 10px;
    }

    .boton {
        width: 100%;
        padding: 10px 20px;
        background-color: #0056b3;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boton:hover {
        background-color: #003f8a;
    }

    .mensajeContainer{
        width: 70%;
    }
    #mensajeAgradecimiento {
        display: none; /* Asegúrate de que el mensaje esté oculto inicialmente */
        /* Usamos flexbox para centrar el contenido */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrado vertical */
        align-items: center;     /* Centrado horizontal */
        text-align: center;
        margin-top: 20px;
        border: solid aliceblue 2px;
        border-radius: 10px;
        padding: 20px;
        background-color: aliceblue;
        margin: 30px 0px;
    }
    
    
    #mensajeAgradecimiento p {
        font-size: 80%;
        font-weight: 500;
        font-style: italic;
        color:#000069
    }

    #mensajeAgradecimiento button {
        background-color: #0056b3;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
        width: 80%;
    }

    #mensajeAgradecimiento button:hover {
        background-color: #218838;
    }
}

/*PANTALLA 12: FINAL LLAMADO A LA ACCION----------------------------------------------------------------*/
@media all {
    .finalContainer {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 180%;
            color: aliceblue;
            margin: -2px;
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    button.btnComienzaYa {
        width: 80%;
        margin: 20px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #6c00ca;
        color: aliceblue;
        font-size: 110%;
        font-weight: 600;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }
}

/*PANTALLA 13: SOLICITUD CLIENTE----------------------------------------------------------*/
@media all {
    .screen13 {
        width: 100vw;
        height: 140vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle, rgba(0, 19, 255, 1) 0%, rgba(0, 15, 46, 1) 100%);

        h3 {
            color: #000853;
            margin: 0;
        }
    }

    .formCliente {
        background-color: #c8c8c8;
        width: 75%;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        color: aliceblue;
        margin-top: 40px;
    }

    .solicitudContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }

    .pasosParaCliente {
        margin-bottom: 30px;
    }

    .clientePaso1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 10%;
            margin: 0;
        }
    }

    .containerCategorias {
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #979797;
        width: 100%;
    }

    .labelCategorias {
        font-size: 16px;
        margin-bottom: 8px;
        display: block;
    }

    select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f7e5fe;
        transition: border-color 0.3s;
    }

    select:focus {
        border-color: #007bff;
        outline: none;
    }

    .checkboxSolicitud {
        margin-bottom: 15px;
        width: 100%;
    }
}

/*FOOTER----------------------------------------------------------*/
@media all {
    footer {
        background-color: #021290;
        color: aliceblue;
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8)) grayscale(100%) sepia(100%) hue-rotate(180deg);

        p {
            font-size: 70%;
            text-align: center;
        }

        .linea {
            width: 40%;
            height: 1px;
            border: solid 0.5px red;
            background-color: #ffffff;
            margin: 0px 0px 15px 0px;
        }

        .copyright {
            font-weight: 700;
        }

        .contactateLink {
            box-sizing: border-box;
            color: #9b79b9;
        }

        .contenedorLogo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logoSatmedia {
            width: 12%;
            margin: 10px 0px 35px 0px;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
        }

        .logosFooter {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            a{
                margin: 0px;
                display: flex;
                justify-content: center;
                padding: 0;
                img{
                    width: 70%;
                }
            }
        }
    }
}







/*PANTALLA 5,6,7: ELIGE TU TIPO DE CONTENIDO----------------------------------------------------------------*/
/* @media all {
    #section5 {
        z-index: 0;
    }

    #main-section {
        h2 {
            margin-top: 60px;
        }
    }

    .cards {
        z-index: 1;
        display: flex;
        width: 80%;
        height: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        position: relative;
        z-index: 2;
        color: blue;
        background-color: aliceblue;
        display: flex;
        border-radius: 20px;
        width: 90%;
        height: 40%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        filter: drop-shadow(0 0 11px rgba(255, 255, 255, 0.5));
    }

    .image-container {
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .reels {
        margin: 0;
        padding: 0;
        z-index: 1;
        width: 70%;
        height: auto;
        object-fit: cover;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
    }

    h3 {
        margin: 20px 0 0 0;
        z-index: 5;
    }

    .loquiero {
        font-weight: 600;
        background-color: blue;
        color: antiquewhite;
        border: none;
        width: 50%;
        padding: 10px;
        border-radius: 30px;
        position: absolute;
        bottom: 10%;
        z-index: 3;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    .accordion-toggle-btn{
    }
} */